<div id="{{id}}" class="enw__widget">
	<h3 class="enw__title"></h3>
	<div>
		<div class="enw__menu enw__menu--primary"></div>
		<div class="enw__menu enw__menu--secondary"></div>
	</div>
    <div class="enw__msgbox"></div>
	<div class="enw__content">
		<div class="enw__chart avgChart"></div>
		<div class="enw__chart subjectChart"></div>
		<div class="enw__chart subjectYearChart"></div>
		<div class="enw__table avgYearTable"></div>
	</div>
</div>